.header-wrapper {
  margin: 65px 150px;
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  list-style-type: none;
  padding-inline-start: 0;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: nowrap;
  min-width: 600px;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  align-items: center;
  justify-content: space-between;
  font-family: AppleSystemUIFont;
  font-size: 11px;
  color: rgba(0,0,0,1);
  line-height: 13px;
  cursor: pointer;
}

.nav-item:hover {
  color: #1890ff;
}

.nav-active {
  font-size: 21px;
  font-family: SFNSDisplay;
  color: rgba(39,39,39,1);
  line-height: 24px;
  letter-spacing: 4px;
  text-decoration: underline;
}