*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-wrapper {
  min-width:900px;
  margin: 0 auto;
  background:rgba(255,255,255,1);
  font-family:AppleSystemUIFont;
  color: #272727;
  font-size:13px;
  line-height:29px;
  letter-spacing:1px;
}

.banner-wrapper {
  display: flex;
  height: 576px;
  width: 100%;
  overflow: hidden;
}
.banner-wrapper>div {
  flex: 1;
  overflow: hidden;
  background-color: #F5F5F5;
}

.banner-img {
  display: flex;
  flex-flow: row-reverse nowrap;
  overflow: hidden;
}

.banner-title {
  margin-left: 77px;
  margin-top: 77px;
  margin-bottom: 92px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-title>p {
  font-family: SFNSDisplay;
  color:#272727;
  font-size:40px;
  line-height:47px;
  margin: 0;
}

.banner-title>img {
  margin-bottom: 26px;
}

.banner-title>p:nth-child(0n+2) {
  font-size:65px;
  line-height:76px;
}

.banner-title>p:nth-child(0n+4) { 
  color: #E7634F;
  margin-bottom: 50px;
}

.read-wrapper {
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 683px;
}

.read-wrapper>h5 {
  font-size:22px;
  color:#272727;
}

.read-wrapper>p {
  font-size:17px;
  color:#757575;
  line-height: 26px;
  margin-bottom: 23px;
  margin-top: 13px;
}

.box-wrapper {
  display: flex;
  width: 745px;
  align-items: center;
  margin: 0 auto 90px;
}

.box-wrapper>.box {
  margin: 12px;
  width:348px;
  height:202px;
  color: #FFFFFF;
  padding: 34px 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:17px;
  background-color: #272727;
}

.box-wrapper>.box>p:nth-child(0n+2) {
  font-size:22px;
}

.box-wrapper>.box>p:nth-child(0n+3) {
  line-height:26px;
  margin-bottom: 20px;
}

.box-wrapper>.box>.line-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}

.box-wrapper>.box>.line-wrapper>.line {
  border: 1px solid #fff;
  width: 86px;
  margin: 0px 5px
}
.box-wrapper>.box>.line-wrapper>.circular {
  width: 36px;
  height: 36px;
  background-color: #E7634F;
  border-radius: 18px;
}

.classify-wrapper {
  background-color: #F5F5F5;
  padding-top: 85px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classify-wrapper>h5 {
  font-size:18px;
  line-height:24px;
  margin-bottom: 28px;
}

.classify-wrapper>.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.sale-wrapper {
  background-color: #E76450;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-family:SFNSDisplay;
}

.sale-wrapper>span:nth-child(0n+1) {
  font-size:31px;
  
  line-height:36px;
  letter-spacing:14px;
}

.sale-wrapper>span:nth-child(0n+2) {
  font-size:91px;
  line-height:107px;
  margin-bottom: 30px;
}